body {
    font-family: system-ui;
}

.button {
    padding: 0;
    border: none;
    background: none;
}

.fullscreenDiv {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: -25px;
    position: absolute;
}
.center {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: left-align;
    line-height: 2;
}

.centerwoani {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
}

.animation {
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {top: 50%;}
    to {top: 20%;}
  }

/* thank you Lucas Oliveira for the fancy input text box! https://codepen.io/lucasyem/pen/ZEEYKdj */

.form__field {
    font-family: inherit;
    width: 250%;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.score {
    text-align: center;
    width: 250%;
    font-size: 200px;
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
    animation: fadeIn 1s cubic-bezier(0.83, 0, 0.17, 1);
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity:1;
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: lightgrey
  }